    <!-- NAVIGATION BAR -->
    <nav>
        <div class="nav-links flex" id= "navLinks">
            <img src="../assets/images/logo.png" href = "index.html" id="logo">
            <p id="textLogo">Tindog Tagum</p>
            <i class="material-icons" onclick="hideMenu()">close</i>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="../pages/news/mainnews.html">News and Events</a></li>
                <li><a href="../pages/registration/main_register">How to get involved?</a></li>
                <li><a href="aboutus.html">About us</a></li>
                <li><a href="contactus.html">Contact Us</a></li>
            </ul>
        </div>
        <i class="material-icons" onclick="openMenu()">menu</i>
    </nav>
